@model IEnumerable<Sensor_App.Models.User>

@{
    ViewData["Title"] = "Lista usuarios";
}
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link href="~/assets/css/app.min.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
</head>
<h1>Lista Usuarios</h1>

<p>
    <button type="button" class="btn btn-primary" id="crerUserButton" onclick="showInPopup('@Url.Action("Crear","User", null, Context.Request.Scheme)', 'Crear usuario')">Crear Usuario</button>
</p>

<div id="view-all">
    @await Html.PartialAsync("_VerUsuarios", Model)
</div>
<div>
    <button type="button" onclick="@("window.location.href='" + @Url.Action("Inicio", "User") + "'");" class="btn btn-primary">Volver a inicio</button>
</div>



<!-- ================== BEGIN BASE JS ================== -->

<script src="~/js/theme/default.min.js"></script>
<script src="~/js/site.js"></script>

<!-- ================== END BASE JS ================== -->